# For usage with the p-net sample application on Raspberry Pi
# Adapt to your hardware and file paths

[Unit]
Description=p-net sample application
After=network.target

[Service]
Type=simple
ExecStartPre=/sbin/ifconfig eth0 up
ExecStartPre=/bin/sh -c '/bin/echo "49152 60999" > /proc/sys/net/ipv4/ip_local_port_range'
ExecStartPre=/usr/bin/gpio export 22 in
ExecStartPre=/usr/bin/gpio export 27 in
WorkingDirectory=/home/pi/profinet/build/
ExecStart=/home/pi/profinet/build/pn_dev -v -b /sys/class/gpio/gpio27/value -d /sys/class/gpio/gpio22/value
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
