build*/
*~
*#
CMakeFiles/
CMakeCache.txt
install
doc/_build
doc/_copied

.cproject
.project


# Python files
*env*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Editor files
.vscode/

# Sampleapp dummy LED files
pnet_led*.txt

# Sampleapp dummy button files (typically named by user)
*button*.txt

# Persistent data storage
pnet_data*.bin
