
# Solve issue with missing bullet points
# See https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bullet-list-from-rst-file
docutils==0.17.1

sphinx
myst-parser
sphinx-rtd-theme
breathe
sphinxcontrib-spelling
rst2pdf
codespell
